[*.java]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
ij_java_imports_layout = eu.kinae.**, |, *, |, javax.**, java.**, |, $*
ij_java_packages_to_use_import_on_demand = unset
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
